@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300");

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
}

body {
  font-size: 14pt;
  background-color: #ecf0f1;
  overflow: hidden;
  color: #333;
}

.menu {
  height: 25vh;
  width: 100%;
  .form-container {
    height: 100%;
    input,
    button {
      text-align: center;
      border: 0;
      box-sizing: border-box;
      font-size: 18pt;
      float: left;
      width: 50%;
      height: 12.5vh;
    }
    input[type=number] {
      color: #333;
    }
    input[type=submit] {
      background-color: #3498db;
    }
    button {
      background-color: #e74c3c;
      &:last-child {
        background-color: #e67e22;
      }
    }
  }
}

.menu,
.block-container {
  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

.block-container {
  height: 75vh;
  .counter {
    position: absolute;
    right: 0;
    width: auto;
    height: auto;
    text-align: right;
    padding: 10px;
    font-weight: bold;
    > div {
      display: inline;
      &:last-child {
        &:before {
          content: '/';
          padding-right: 3px;
        }
      }
    }
  }
  .block {
    transition: all 200ms;
    box-sizing: border-box;
    border: 4px solid rgba(255,255,255,0.5);
    height: 50%;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    display: table;
    .block-text {
      color: #fff;
      font-size: 80pt;
      text-align: center;
      vertical-align: middle;
      display: table-cell;
    }
    &.active {
      background-color: #f1c40f;
    }
    &:last-child {
      border-top: 2px;
    }
  }
}

 @media screen and (max-width: 640px) and (orientation:landscape) {
   .menu,
   .block-container {
     float: left;
     width: 50vw;
     height: 100%;
     .block {
       height: 50vh;
     }
   }
  .menu {
    .form-container {
      input {
        width: 100%;
        height: 25vh;
      }
      button {
        height: 50vh;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .menu {
    height: auto;
    .form-container {
      height: auto;
      input,
      button {
        width: 25%;
      }
    }
  }
  .block-container {
    height: 87.5vh;
    .block {
      height: 100%;
      width: 50vw;
      float: left;
      border-width: 1px;
    }
  }
}
